
/* NAVBAR */

.navbar-default .navbar-nav>li>a{
  color: rgb(36, 71, 218);
  font-weight: bold;
}

.UnifiedNav-logoSVG {
  fill: rgb(36, 71, 218);
  transform: translateY(25%);  /* <-----tentativi?*/
}
/* FINE NAVBAR */

/* INIZIO WELCOME */

.welcome{
  background-image: url("sfondo.jpg");
  background-size: cover;
  color: white;
  margin-top: 51px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.welcome h1{
  font-size: 60px;
}

.welcome p{
  font-size: 20px;
  color: rgb(214, 214, 214);
  padding-top: 20px;
}
.account{
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: white;
  padding: 20px 0px;

}

.account li{
  padding: 10px 0px;
  list-style-type: none;

}

.account h2{
  color: rgb(18, 30, 110);
  font-weight: bold;
  text-align: center;
}

.account input, .account button{
  border: 1px solid rgb(203, 203, 203);
  padding: 10px;

}

.account input{
  color: black;
}

.account button{
  border: 1px solid #e8e8e8;
  border-radius: 8px;

}

small{
  color: rgb(18, 30, 110);
  display: block;
  text-align: center;
}

/* BOTTONI WELCOME */

.buttongreen{
  background-color: #37ce88;
  color: white;
}

.buttongoogle{
  background-color: white;
  color: grey;
  font-weight: bold;
}

/* FINE WELCOME */


/* INIZIO ICON */

.icon h4{
  color: grey;
}
.icon img{
  width: 100%;
  height: 80px;
}

.icon{
  background-color: rgb(244, 244, 244);
  padding: 40px 0px;
}

/* FINE ICON */

/* INIZIO DEPLOY */

.deploy{
  padding: 40px 0px;

}

.deploy h1, .deploy p{
  color: rgb(18, 30, 110);
  padding-bottom: 20px;
}

.deploy h1{
  font-weight: bold;
}

.deploy li{
  list-style-type: none;
  font-size: 15px;
  padding: 10px 0px;
}

.deploy a{
  color: rgb(18, 30, 110);
}



/* FINE DEPLOY */


/* INIZIO DESIGNED */

.designed{
  background-color: rgb(244, 244, 244);
  width: 100%;
  text-align: center;
  text
}
.immagine_sfondo{
  width: 40%;
  margin: auto;
  height: 40%;
  padding-bottom: 40px;
}

.immagine_sfondo img{
  height: 100%;
  width: 100%;
}

.designed h1{
  font-weight: bold;
  padding-top: 40px;
}
.designed h1, .designed p{
  color: rgb(18, 30, 110);
}

.designed p{
  padding: 20px 0px;
} */

/* FINE DESIGNED */

/* INIZIO BUILT */

.built {
  padding: 40px 0px;
}

.built h1{
  padding: 40px 0px;
  font-weight: bold;
}

.built p{
  padding: 20px 0px;
}

.built a{
  font-size: 20px;
  color: rgb(36, 152, 218);
}

.built h1, .built h3, .built p{
  color: rgb(18, 30, 110);
}

/* FINE BUILT */

/* TABLE  */

.speed{
  background-image: url('world.png');
  background-size: cover;
  padding-bottom: 60px;
  margin-bottom: 0;
  color: rgb(157, 157, 157);

}

td:first-child{
  color: white;
}
.table{
  padding-bottom: 50px;
}
.speed h1{
  color: white;
  padding: 40px 0px;
}

.table a{
  color: rgb(28, 166, 116);
}

/* FINE TABLE */


/* LOVE */

.love{
  margin-top: 0;
  text-align: center;
}

.love h1{
  padding: 40px 0px;
}
/* .love{
  background-color: red;
} */

/* FINE LOVE */

/* INIZIO STARTED */

.started{
  background-image: url('sfondo.jpg');
  background-size: cover;
  color: white;
  padding: 40px 0px;
}

.started h1{
  padding-bottom: 20px;
}
.create{
  color: rgb(18, 30, 110);
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: bold;
}

/* FINE STARTED */

/* INIZIO FOOTER */
